body{
  background-image: url('../img/bg.png');
}
.bd {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  border: 1px solid black;
}
.header{
  position:relative;
  width:100%;
  height:100px;
  background-image: url('../img/head.jpg');
}
thead,
th,
tr,
td {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid black;
}
th{
  background-color: #db1313;
  color:#ffffff;
  padding:0.5%;
}
td{
  text-align: center;
  background-color: white;
}
/*Loading Icon*/
.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.wait{
  color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.loader {
  color:#ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
.load{
  margin-top:1%;
  margin-bottom: 1%;
  padding:1% 2% 1% 2%;
  background-color:#ffffff;
  border:1px solid white;
  border: 0;
  font-style: bold;
  color:#ff0000;
  font-style:bold;
}
.load:hover{
  cursor:hand;
}
/*Search box*/






ul{
  list-style-type:none;
  margin:0;
  padding:0;
}
li{
  padding:1% 1% 1% 1%;
  background-color: red;
  border-bottom:1px solid white;
  color:white;
}
li:hover{
  cursor:hand;
}
#main-menu{
  font-weight:1000;
}
#main-menu:hover .dropdown{
  display: block;
}


.menu-icon {
  display: inline-block;
  cursor: pointer;
  float: left;
  margin-right: 15px;
}

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  margin: 4px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}