body{
  background-image: url('../img/bg.png');
}
/*Search box*/
.search{
    position: relative;
    height:10%;
    width:40%;
    font-size: 20px;
    padding-left: 5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 5%;
    margin-top:5px;
    margin-bottom:0.5%;
  }
  ul{
    list-style-type:none;
    margin:0;
    padding:0;
  }
  li{
    padding:1% 1% 1% 1%;
    background-color: red;
    border-bottom:1px solid white;
    color:white;
  }
  li:hover{
    cursor:hand;
  }
  #main-menu{
    font-weight:1000;
    
  }
  #main-menu:hover .dropdown{
    display: block;
  }

 th{
   background-color: #db1313;
   color:#ffffff;
 }
 td{
   text-align: center;
   background-color: white;
 }
 
 .menu-icon {
  display: inline-block;
  cursor: pointer;
  float: left;
  margin-right: 15px;
}

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  margin: 4px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}